.mainContainer ital {
    font-size: inherit;
    font-style: italic;
    font-family: "Gentium Basic", serif;
}
.topBanner {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.topLeft,
.topRight {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topLeft::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("/paint.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
}
.topRight {
    cursor: grab;
}
.topRight:active {
    cursor: grabbing;
}
.topInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 24px;
}
.topInfo > h1 {
    font-family: "Gentium Basic", serif;
    font-weight: normal;
    font-size: 3rem;
}
.topInfo > h3 {
    font-weight: 400;
}
.topButtons {
    display: flex;
    gap: 24px;
}
.topSwiper {
    height: 100%;
    width: 50vw;
}
.topSwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutDiv {
    background-color: var(--blue);
    padding: 7.5rem 7.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.aboutDiv > h1 {
    width: 70%;
    font-family: "Gentium Basic", serif;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.aboutList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.aboutList > div {
    max-width: 240px !important;
}
.aboutList svg,
.aboutList h4 {
    color: var(--green);
    font-size: 1.5rem;
    width: fit-content;
}
.aboutList h4 {
    font-weight: 500;
    font-size: 1.5rem;
}
.aboutList > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}
/* .aboutList > div:nth-child(odd) {
    align-self: flex-start;
}
.aboutList > div:nth-child(even) {
    align-self: flex-end;
} */
.aboutList h6 {
    color: white;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1rem;
}

.workshopAbout {
    background-color: var(--skin);
    display: flex;
    /* gap: 50px; */
    flex-direction: column;
    align-items: center;
}
.workshopText {
    margin: 5rem 7.5vw;
    /* margin-bottom: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 40%;
}
.workshopText * {
    font-weight: 400;
    text-align: center;
}
.workshopSwiper {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 50px;
    cursor: grab;
    height: 640px;
}
.workshopSwiper:active {
    cursor: grabbing;
}
.workshopSwiper img {
    object-fit: cover;
    border-radius: 10px;
}
.paintingAbout::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("/paint.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
}
.paintingAbout {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.paintingText {
    margin: 5rem 7.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 40%;
}
.paintingText * {
    font-weight: 400;
    text-align: center;
}
.paintingText > h1 {
    font-family: "Gentium Basic", serif;
}
.paintingGallery {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.paintingGallery > div {
    height: 400px;
    cursor: pointer;
    position: relative;
}
.paintingGallery > div::after {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 32px;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.3rem;
}
.paintingGallery > div:hover::after {
    content: attr(data-title);
    opacity: 1;
}
.paintingGallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallerySingle {
    width: 25vw;
}
.galleryDouble {
    width: 50vw;
}
.galleryTriple {
    width: 75vw;
}
.paintingStatistics {
    background-color: var(--blue);
    width: 100vw;
    padding: 5rem 7.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paintingStatistics > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.paintingStatistics * {
    color: white;
}
.paintingStatistics h1 {
    font-weight: 400;
    font-family: "Gentium Basic", serif;
    color: var(--green);
    font-size: 4rem;
}
.partners {
    padding: 7.5rem 7.5vw;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
}
.partnersText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 60%;
}
.partnersText * {
    font-weight: 400;
    text-align: center;
}
.partnersText h1 {
    font-family: "Gentium Basic", serif;
    font-size: 3rem;
}
.partnersImages {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.partnersImages img {
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
}

.swiperPaginationBullet {
    margin: 0 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.swiperPaginationBulletActive {
    background-color: white;
}

@media only screen and (max-width: 1200px) {
    .topBanner {
        margin-top: 54px;
        flex-direction: column;
        height: revert;
    }
    .topLeft {
        padding: 3.2rem 0;
    }
    .topInfo {
        width: 80%;
        max-width: 600px;
        align-items: center;
    }
    .topInfo > * {
        text-align: center;
    }
    .topInfo h1 {
        font-size: 2.3rem;
    }
    .topInfo h3 {
        font-size: 1.1rem;
    }
    .topSwiper {
        width: 100vw;
        height: 100vh;
    }
    .aboutDiv {
    }
    .aboutDiv > h1 {
        font-size: 2.3rem;
        width: 90%;
    }
}
