.footerElem {
    padding: 3rem 7.5vw;
    background-color: black;
}
.footerElem * {
    color: white;
}
.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerLeft {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 24px;
    flex: 1;
}
.footerLeft > * {
    font-weight: 400;
}
.footerLeft > h1 {
    font-family: "Gentium Basic", serif;
    font-size: 2rem;
}
.footerLeft h3 {
    font-size: 1rem;
}
.footerLeft svg,
.footerLeft h3 {
    opacity: 0.5;
}
.footerInfo {
    display: flex;
    gap: 2.4rem;
}
.footerInfo div {
    display: flex;
    align-items: center;
    gap: 4px;
}
.socials {
    display: flex;
    gap: 24px;
}
.socials svg {
    font-size: 1.3rem;
    cursor: pointer;
    transition: opacity 0.3s;
}
.socials svg:hover {
    opacity: 1;
}
.footerRight {
    display: flex;
    gap: 64px;
}
.footerRight > * {
    opacity: 0.7;
    transition: opacity 0.3s;
}
.footerRight > *:hover {
    opacity: 1;
}
