@import "./custom";
// @import "~aos/dist/aos.css";

* {
    font-family: "Inter", sans-serif;
}
#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
.gentium {
    font-family: "Gentium Basic", serif;
}
i {
    font-family: inherit;
}
.green {
    color: $success;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.swiper-pagination-bullet {
    align-self: center;
    margin: 0 5px;
    display: inline-block;
    width: 0.5rem;
    height: 0.6rem;
    border-radius: 50%;
    &-active {
        background-color: white;
    }
}

.bg-image {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.1;
    }
}
.paint-bg {
    @extend .bg-image;
    &::before {
        background-image: url(/paint.png);
    }
}
.pink-bg {
    @extend .bg-image;
    &::before {
        opacity: 0.5;
        background-image: url(/pinkpattern.png);
    }
}

.contact-bg {
    @extend .bg-image;
    &::before {
        background-image: url(/contact-bg.png);
    }
}

.fit-cover {
    object-fit: cover;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paintingGallery {
    & > div {
        cursor: pointer;
        position: relative;
    }
    & > div::after {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 32px;
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 1.3rem;
    }
    & > div:hover::after {
        content: attr(data-title);
        opacity: 1;
    }
}
.section {
    // @extend .fade-up;
    @extend .py-7;
}
.section-heading {
    @extend .gentium, .mb-4, .display-6;
}
.text-custom {
    @extend .text-center, .text-xl-start;
}

.content-pad-l {
    @extend .ps-xl-6, .ps-4;
}
.content-pad-r {
    @extend .pe-xl-6, .pe-4;
}
.content-pad {
    @extend .content-pad-l, .content-pad-r;
}
// .content-margin-nl {
//   // @extend .ml-xl-n5;
// }

.homeTopSwiperImage {
    height: 60vh !important;
    min-height: 840px;
}

.custom-nav a {
    text-decoration: none;
    color: $primary;
    transition: opacity 0.3s;
}
.custom-nav a:hover {
    opacity: 0.7;
}

.custom-form input:not([type="submit"]),
.custom-form textarea {
    background-color: #eaeaea;
    outline: none;
    border: none;
    // border-radius: 5px;
    padding: 0.8rem 1.5rem;
}
.custom-form input[type="submit"] {
    background-color: $primary;
    color: white;
    outline: none;
    border: none;
    padding: 0.6rem 2.5rem;
    width: max-content;
}

.wp-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min(280px, 20vw));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    div:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
    }
    div:nth-child(2) {
        grid-area: 1 / 3 / 4 / 4;
    }
    div:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    div:nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 720px) {
    .wp-gallery {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
    }
    .section {
        padding: 4.2rem 0;
        text-align: center;
    }
}

.btn-lg {
    font-size: 1rem;
    padding: 0.6rem 2rem;
}

.navbar-brand {
    font-size: 1.3rem;
}
.workshop-swiper-home {
    height: 50vh;
    max-height: 50vh;
}
.features-data-home {
    max-width: 360px;
}

@media only screen and (max-width: 1200px) {
    .homeTopSwiperImage {
        min-height: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}
a:hover {
    color: inherit;
    opacity: 0.7;
}

.sdgGallery {
    width: 100vw;
    flex-wrap: wrap;
    & > div > img:first-child {
        position: absolute;
        width: 100px;
        height: 120px;
        bottom: 0;
        right: 0;
    }
    & > div {
        cursor: pointer;
        position: relative;
    }
    & > div {
        flex: 1;
        min-width: 320px;
        height: 40vh;
        max-height: 40vh;
    }
    & > div::after {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 1.3rem;
    }

    & > div:hover::after {
        content: attr(data-title);
        opacity: 1;
    }
}
.swiper-button-next,
.swiper-button-prev {
    color: $primary;
    transform: translateY(-50px);
}
@media only screen and (max-width: 720px) {
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
    }
    .review-swiper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.contact-container {
    @extend .bg-image;
    &::before {
        background-image: url(/contact-bg.png);
        z-index: -1;
        opacity: 1;
    }
    &::after {
        content: "";
        position: absolute;
        z-index: -2;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
    }
}

.workshop-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 15%;
    & > * {
        // max-width: 75%;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-12.5%);
        border-radius: 5px;
        height: 100%;
        width: 150%;
        background-color: $secondary;
        content: "";
        z-index: -1;
    }

    & p {
        line-height: 1.8;
    }
}
.workshop-container > .row {
    padding: 0;
    margin: 0;
    width: 100%;
}
.workshop-container > .row > * {
    margin: 0;
    padding: 0;
}

.workshop-images {
    padding: 0 32px !important;
    .single-img {
        max-height: 75vh;
        object-fit: cover;
    }
    .double-img {
        max-height: 42vh;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1200px) {
    .workshop-container {
        gap: 0 !important;
    }
    .workshop-text {
        padding-inline: 5%;
        &::before {
            transform: translate(0);
            width: 100%;
        }
    }
    .workshop-container > * {
        flex-direction: column;
        align-items: center;
    }

    .workshop-images {
        width: 100%;
        padding: 32px 0 !important;
        .double-img {
            height: 30vh;
        }
        .single-img {
            height: calc(60vh + 1rem);
        }
    }
}
